
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid rgb(224, 171, 171);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(85, 85, 85);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #eb5528;
  }
  
  .container {
    width: 960px;;
    border-radius: 5px;
    background-color: #ff2b2b;
    padding: 20px;
  }